<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
      .popup {
      position: absolute;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #ddd;
      height: 251px;
    }
</style>
  <table class="uib-datepicker">
    <tr>
      <td><input type="date-local" class="form-control" [(ngModel)]="dt"></td>
      <td><a (click)="open()" class="btn btn-link" tabindex="-1"><span class="glyphicon glyphicon-calendar"></span></a></td>
    </tr>
  </table>
<div [hidden]="!opened" >
  <div style="display:inline-block; min-height:290px;" class="popup">
    <datepicker [(ngModel)]="dt"></datepicker>
    <button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-success" (click)="open()">OK</button>
  </div>
</div>